In [88]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [89]:
df1 = pd.read_csv("User Preference Car Sport.csv")
df1.head()

  User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;
0  1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
1  1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
2  1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
3  1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
4  1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...

In [90]:
df2 = pd.read_csv("list_cars2.csv")
df2.head()

,Car Make,Car Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [91]:
# Gabungkan Dataset
merged_df = pd.concat([df1, df2], axis=0)

# Reset ulang indeks
merged_df.reset_index(drop=True, inplace=True)

print("Merged DataFrame secara Vertikal:")
print(merged_df)
# Cetak daftar kolom dalam DataFrame
print(merged_df.columns)

Merged DataFrame secara Vertikal:
     User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;  \
0     1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
1     1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
2     1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
3     1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
4     1;Glen Choirul Fais;Laki-laki;Mahasiswa;22;Ban...
...                                                 ...
2252                                                NaN
2253                                                NaN
2254                                                NaN
2255                                                NaN
2256                                                NaN

      Car Make                              Car Model      Price    Year  \
0          NaN                                    NaN        NaN     NaN
1          NaN                                    NaN        NaN     NaN
2          NaN                                    NaN        NaN     NaN
3          NaN                                    NaN        NaN     NaN
4          NaN                                    NaN        NaN     NaN
...        ...                                    ...        ...     ...
2252  Mahindra                  XUV500 W8 [2015-2017]   850000.0  2016.0
2253   Hyundai                           Eon D-Lite +   275000.0  2014.0
2254      Ford            Figo Duratec Petrol ZXI 1.2   240000.0  2013.0
2255       BMW  5-Series 520d Luxury Line [2017-2019]  4290000.0  2018.0
2256  Mahindra      Bolero Power Plus ZLX [2016-2019]   670000.0  2017.0

      Kilometer Fuel Type Transmission    Location   Color  ... Seller Type  \
0           NaN       NaN          NaN         NaN     NaN  ...         NaN
1           NaN       NaN          NaN         NaN     NaN  ...         NaN
2           NaN       NaN          NaN         NaN     NaN  ...         NaN
3           NaN       NaN          NaN         NaN     NaN  ...         NaN
4           NaN       NaN          NaN         NaN     NaN  ...         NaN
...         ...       ...          ...         ...     ...  ...         ...
2252    90300.0    Diesel       Manual       Surat   White  ...  Individual
2253    83000.0    Petrol       Manual   Ahmedabad   White  ...  Individual
2254    73000.0    Petrol       Manual       Thane  Silver  ...  Individual
2255    60474.0    Diesel    Automatic  Coimbatore   White  ...  Individual
2256    72000.0    Diesel       Manual    Guwahati   White  ...  Individual

       Engine           Max Power         Max Torque Drivetrain  Length  \
0         NaN                 NaN                NaN        NaN     NaN
1         NaN                 NaN                NaN        NaN     NaN
2         NaN                 NaN                NaN        NaN     NaN
3         NaN                 NaN                NaN        NaN     NaN
4         NaN                 NaN                NaN        NaN     NaN
...       ...                 ...                ...        ...     ...
2252  2179 cc  138 bhp @ 3750 rpm  330 Nm @ 1600 rpm        FWD  4585.0
2253   814 cc   55 bhp @ 5500 rpm   75 Nm @ 4000 rpm        FWD  3495.0
2254  1196 cc   70 bhp @ 6250 rpm  102 Nm @ 4000 rpm        FWD  3795.0
2255  1995 cc  188 bhp @ 4000 rpm  400 Nm @ 1750 rpm        RWD  4936.0
2256  1493 cc   70 bhp @ 3600 rpm  195 Nm @ 1400 rpm        RWD  3995.0

       Width  Height  Seating Capacity  Fuel Tank Capacity
0        NaN     NaN               NaN                 NaN
1        NaN     NaN               NaN                 NaN
2        NaN     NaN               NaN                 NaN
3        NaN     NaN               NaN                 NaN
4        NaN     NaN               NaN                 NaN
...      ...     ...               ...                 ...
2252  1890.0  1785.0               7.0                70.0
2253  1550.0  1500.0               5.0                32.0
2254  1680.0  1427.0               5.0                45.0
2255  1868.0  1479.0               5.0                65.0
2256  1745.0  1880.0               7.0                 NaN

[2257 rows x 21 columns]
Index(['User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;',
       'Car Make', 'Car Model', 'Price', 'Year', 'Kilometer', 'Fuel Type',
       'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine',
       'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height',
       'Seating Capacity', 'Fuel Tank Capacity'],
      dtype='object')

In [92]:
# Info tentang dataset, termasuk tipe data dan non-null counts
print("Informasi dataset:")
print(merged_df.info())

# Statistik deskriptif untuk setiap kolom numerik
print("\nStatistik deskriptif untuk kolom numerik:")
print(merged_df.describe())

# Cetak daftar kolom dalam dataset
print("\nDaftar kolom dalam dataset:")
print(merged_df.columns)

Informasi dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2257 entries, 0 to 2256
Data columns (total 21 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;  198 non-null    object
 1   Car Make                                                                                  2059 non-null   object
 2   Car Model                                                                                 2059 non-null   object
 3   Price                                                                                     2059 non-null   float64
 4   Year                                                                                      2059 non-null   float64
 5   Kilometer                                                                                 2059 non-null   float64
 6   Fuel Type                                                                                 2059 non-null   object
 7   Transmission                                                                              2059 non-null   object
 8   Location                                                                                  2059 non-null   object
 9   Color                                                                                     2059 non-null   object
 10  Owner                                                                                     2059 non-null   object
 11  Seller Type                                                                               2059 non-null   object
 12  Engine                                                                                    1979 non-null   object
 13  Max Power                                                                                 1979 non-null   object
 14  Max Torque                                                                                1979 non-null   object
 15  Drivetrain                                                                                1923 non-null   object
 16  Length                                                                                    1995 non-null   float64
 17  Width                                                                                     1995 non-null   float64
 18  Height                                                                                    1995 non-null   float64
 19  Seating Capacity                                                                          1995 non-null   float64
 20  Fuel Tank Capacity                                                                        1946 non-null   float64
dtypes: float64(8), object(13)
memory usage: 370.4+ KB
None

Statistik deskriptif untuk kolom numerik:
              Price         Year     Kilometer       Length        Width  \
count  2.059000e+03  2059.000000  2.059000e+03  1995.000000  1995.000000
mean   1.702992e+06  2016.425449  5.422471e+04  4280.860652  1767.991980
std    2.419881e+06     3.363564  5.736172e+04   442.458507   135.265825
min    4.900000e+04  1988.000000  0.000000e+00  3099.000000  1475.000000
25%    4.849990e+05  2014.000000  2.900000e+04  3985.000000  1695.000000
50%    8.250000e+05  2017.000000  5.000000e+04  4370.000000  1770.000000
75%    1.925000e+06  2019.000000  7.200000e+04  4629.000000  1831.500000
max    3.500000e+07  2022.000000  2.000000e+06  5569.000000  2220.000000

            Height  Seating Capacity  Fuel Tank Capacity
count  1995.000000       1995.000000         1946.000000
mean   1591.735338          5.306266           52.002210
std     136.073956          0.822170           15.110198
min    1165.000000          2.000000           15.000000
25%    1485.000000          5.000000           41.250000
50%    1545.000000          5.000000           50.000000
75%    1675.000000          5.000000           60.000000
max    1995.000000          8.000000          105.000000

Daftar kolom dalam dataset:
Index(['User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;',
       'Car Make', 'Car Model', 'Price', 'Year', 'Kilometer', 'Fuel Type',
       'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine',
       'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height',
       'Seating Capacity', 'Fuel Tank Capacity'],
      dtype='object')

In [93]:
# i) Mencari dan Memproses Data yang Hilang
missing_data = merged_df.isnull().sum()
print("Data yang Hilang:\n", missing_data)

# ii) Nilai Data Campuran/Tipe Data yang Tidak Cocok
mixed_data = merged_df.applymap(type).nunique()
print("\nTipe Data Campuran:\n", mixed_data)

# iii) Pencarian Pencilan pada Data
# Menghitung z-score untuk kolom numerik
numeric_cols = merged_df.select_dtypes(include=['int', 'float']).columns
z_scores = (merged_df[numeric_cols] - merged_df[numeric_cols].mean()) / merged_df[numeric_cols].std()

# Menandai baris yang memiliki nilai z-score > 3 atau < -3 sebagai outlier
outliers = merged_df[(z_scores > 3) | (z_scores < -3)]
print("\nData Pencilan:\n", outliers)

Data yang Hilang:
 User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;    2059
Car Make                                                                                     198
Car Model                                                                                    198
Price                                                                                        198
Year                                                                                         198
Kilometer                                                                                    198
Fuel Type                                                                                    198
Transmission                                                                                 198
Location                                                                                     198
Color                                                                                        198
Owner                                                                                        198
Seller Type                                                                                  198
Engine                                                                                       278
Max Power                                                                                    278
Max Torque                                                                                   278
Drivetrain                                                                                   334
Length                                                                                       262
Width                                                                                        262
Height                                                                                       262
Seating Capacity                                                                             262
Fuel Tank Capacity                                                                           311
dtype: int64

Tipe Data Campuran:
 User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;    2
Car Make                                                                                    2
Car Model                                                                                   2
Price                                                                                       1
Year                                                                                        1
Kilometer                                                                                   1
Fuel Type                                                                                   2
Transmission                                                                                2
Location                                                                                    2
Color                                                                                       2
Owner                                                                                       2
Seller Type                                                                                 2
Engine                                                                                      2
Max Power                                                                                   2
Max Torque                                                                                  2
Drivetrain                                                                                  2
Length                                                                                      1
Width                                                                                       1
Height                                                                                      1
Seating Capacity                                                                            1
Fuel Tank Capacity                                                                          1
dtype: int64

Data Pencilan:
      User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2252                                                NaN
2253                                                NaN
2254                                                NaN
2255                                                NaN
2256                                                NaN

     Car Make Car Model  Price  Year  Kilometer Fuel Type Transmission  \
0         NaN       NaN    NaN   NaN        NaN       NaN          NaN
1         NaN       NaN    NaN   NaN        NaN       NaN          NaN
2         NaN       NaN    NaN   NaN        NaN       NaN          NaN
3         NaN       NaN    NaN   NaN        NaN       NaN          NaN
4         NaN       NaN    NaN   NaN        NaN       NaN          NaN
...       ...       ...    ...   ...        ...       ...          ...
2252      NaN       NaN    NaN   NaN        NaN       NaN          NaN
2253      NaN       NaN    NaN   NaN        NaN       NaN          NaN
2254      NaN       NaN    NaN   NaN        NaN       NaN          NaN
2255      NaN       NaN    NaN   NaN        NaN       NaN          NaN
2256      NaN       NaN    NaN   NaN        NaN       NaN          NaN

     Location Color  ... Seller Type Engine Max Power Max Torque Drivetrain  \
0         NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
1         NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
2         NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
3         NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
4         NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
...       ...   ...  ...         ...    ...       ...        ...        ...
2252      NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
2253      NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
2254      NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
2255      NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN
2256      NaN   NaN  ...         NaN    NaN       NaN        NaN        NaN

     Length  Width  Height  Seating Capacity  Fuel Tank Capacity
0       NaN    NaN     NaN               NaN                 NaN
1       NaN    NaN     NaN               NaN                 NaN
2       NaN    NaN     NaN               NaN                 NaN
3       NaN    NaN     NaN               NaN                 NaN
4       NaN    NaN     NaN               NaN                 NaN
...     ...    ...     ...               ...                 ...
2252    NaN    NaN     NaN               NaN                 NaN
2253    NaN    NaN     NaN               NaN                 NaN
2254    NaN    NaN     NaN               NaN                 NaN
2255    NaN    NaN     NaN               NaN                 NaN
2256    NaN    NaN     NaN               NaN                 NaN

[2257 rows x 21 columns]

In [94]:
# Collaborative Filtering
# Buat User-Item Matrix
# user_item_matrix = merged_df.pivot_table(index='User ID', columns='Car Make', values='Rating', fill_value=0)

# Jika 'Rating' ada dalam dataset
# print(user_item_matrix)

In [95]:
# Hitung Similarity antar pengguna
# user_similarity = cosine_similarity(user_item_matrix, user_item_matrix)

In [96]:
# Content-Based Filtering
# Combine information from multiple columns into one text column
merged_df['Car Features'] = merged_df['Car Make'] + ' ' + merged_df['Car Model'] + ' ' + merged_df['Year'].astype(str) + ' ' + merged_df['Color'] + ' ' + merged_df['Transmission'] + ' ' + merged_df['Fuel Type']

# Drop rows with NaN values in 'Car Features' column
merged_df = merged_df.dropna(subset=['Car Features'])

# Initialize TF-IDF vectorizer
# Ekstraksi Fitur
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(merged_df['Car Features'])

# Fit and transform the text data
car_features_tfidf = tfidf.fit_transform(merged_df['Car Features'].astype(str))

# Print feature names (words in the vocabulary)
print("Vocabulary:", tfidf.get_feature_names_out())

Vocabulary: ['0d' '0l' '110' '143' '143bhp' '16' '177bhp' '180' '1988' '1996' '1l'
 '200' '2000' '2002' '2004' '2006' '2007' '2008' '2009' '200d' '2010'
 '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019' '2020'
 '2021' '2022' '20d' '220' '220d' '250' '250xl' '280' '2l' '2wd' '30'
 '300' '300d' '300h' '30d' '320d' '320i' '330i' '35' '350' '350d' '40'
 '400' '400d' '43' '45' '450' '488' '4matic' '4wd' '4x2' '4x4' '500'
 '500l' '520d' '525d' '530d' '530i' '55' '560' '5l' '610' '630d' '6s'
 '718' '730ld' '75' '800' '85' '8s' '8v' '911' '99' '9l' 'a3' 'a4' 'a6'
 'a7' 'a8' 'abs' 'ac' 'accent' 'accord' 'active' 'activity' 'adventure'
 'ags' 'airbag' 'alcazar' 'alloy' 'allspace' 'alpha' 'altis' 'alto'
 'altroz' 'alturas' 'amaze' 'ambiente' 'ambition' 'ameo' 'amg' 'amt'
 'anniversary' 'aqua' 'aspire' 'asta' 'astor' 'at' 'audi' 'aura'
 'automatic' 'avantgarde' 'avn' 'awd' 'ax' 'b180' 'baleno' 'base' 'beat'
 'beige' 'benz' 'bhp' 'bl' 'black' 'blue' 'blueefficiency' 'bmw' 'bolero'
 'boxster' 'br' 'brezza' 'brio' 'bronze' 'brown' 'bs' 'c200' 'c220d' 'c4'
 'c8' 'cabriolet' 'camry' 'captiva' 'carlo' 'carnival' 'carrera' 'cayenne'
 'cayman' 'cbu' 'cdi' 'celebration' 'celerio' 'cgi' 'chevrolet' 'ciaz'
 'city' 'civic' 'cla' 'class' 'classic' 'climber' 'cls' 'cng'
 'comfortline' 'commuter' 'compass' 'convertible' 'cooper' 'corolla'
 'country' 'countryman' 'coupe' 'cr' 'crde' 'crdi' 'creative' 'creta'
 'cross' 'cruiser' 'cruze' 'cvt' 'd2' 'd3' 'd4' 'd5' 'dark' 'datsun' 'dct'
 'delta' 'design' 'diesel' 'discovery' 'door' 'dpe' 'dtec' 'dual' 'duo'
 'duratec' 'duratorq' 'duster' 'dynamic' 'dzire' 'e200' 'e220' 'e250'
 'e350' 'e4' 'ecoboost' 'ecosport' 'edition' 'eeco' 'efficiency' 'elantra'
 'electric' 'elegance' 'elite' 'emotion' 'endeavour' 'eon' 'era' 'erlx'
 'ertiga' 'es' 'estilo' 'etios' 'euro' 'ev' 'evoque' 'ex' 'exclusive'
 'executive' 'exi' 'expedition' 'experience' 'expression' 'exquisite'
 'extended' 'fabia' 'fastback' 'fe' 'ferrari' 'fiat' 'fiesta' 'figo'
 'fluence' 'fluidic' 'ford' 'fortuner' 'fwd' 'g1' 'g4' 'gd' 'ghost' 'gl'
 'gla' 'glanza' 'glc' 'gle' 'gloster' 'gls' 'go' 'gold' 'grade' 'gran'
 'grand' 'grande' 'green' 'grey' 'gt' 'gtb' 'gtx' 'gx' 'hard' 'harrier'
 'hatchback' 'hector' 'hexa' 'hiace' 'highline' 'highline1' 'honda' 'hse'
 'htk' 'htr' 'htx' 'huracan' 'hybrid' 'hyundai' 'i10' 'i20' 'ignis' 'ii'
 'iii' 'ikon' 'imt' 'innova' 'inscription' 'inspired' 'intelli' 'ira'
 'irde' 'irde2' 'isuzu' 'iv' 'ivt' 'ivtec' 'jaguar' 'jazz' 'jcw' 'jeep'
 'jetta' 'k6' 'kappa' 'kappa2' 'kia' 'kiger' 'kinetic' 'kodiaq' 'kushaq'
 'kuv100' 'kwid' 'lamborghini' 'land' 'ldi' 'levante' 'lexus' 'limited'
 'limousine' 'line' 'linea' 'lite' 'liva' 'longitude' 'lp' 'lpg' 'ls' 'lt'
 'ltz' 'luxury' 'lwb' 'lx' 'lxi' 'm2' 'm6' 'macan' 'magna' 'magnite'
 'mahindra' 'manual' 'manza' 'marazzo' 'maroon' 'maruti' 'maserati'
 'matrix' 'maybach' 'mercedes' 'mg' 'mhawk100' 'micra' 'mini' 'minor'
 'mitsubishi' 'ml' 'mobilio' 'model' 'modern' 'momentum' 'monte' 'mpi'
 'mt' 'mu' 'multitronic' 'mustang' 'nano' 'navigation' 'new' 'nexon'
 'nios' 'nissan' 'non' 'nrg' 'nx' 'octavia' 'opt' 'orange' 'others' 'pace'
 'pack' 'pajero' 'panamera' 'petrol' 'pink' 'platinum' 'plus' 'polo'
 'porsche' 'portfolio' 'power' 'premium' 'presso' 'prestige' 'progressive'
 'ps' 'pulse' 'punch' 'punto' 'pure' 'purple' 'q2' 'q3' 'q5' 'q7' 'q8'
 'quanto' 'quattro' 'r350' 'range' 'rapid' 'red' 'redigo' 'renault'
 'revotorq' 'revotron' 'rexton' 'ritz' 'rolls' 'rover' 'royce' 'rs' 'rs5'
 'rubicon' 'rx6' 'rx7' 'rxl' 'rxs' 'rxt' 'rxz' 's10' 's11' 's2' 's3' 's4'
 's5' 's6' 's60' 's9' 's90' 'safari' 'safire' 'sail' 'sandstorm' 'santa'
 'santro' 'savvy' 'scorpio' 'sd4' 'sdrive20d' 'sdrive20i' 'sdv6' 'se'
 'seater' 'sedan' 'select' 'seltos' 'series' 'sfx' 'sharp' 'shvs' 'sigma'
 'signature' 'silver' 'skoda' 'sle' 'sline' 'slk' 'slx' 'smart' 'soft'
 'sonata' 'sonet' 'spark' 'special' 'sport' 'sportback' 'sportline'
 'sports' 'sportz' 'ssangyong' 'std' 'str' 'style' 'sunny' 'sunroof'
 'superb' 'supercharged' 'suv' 'suzuki' 'sv' 'swift' 'sx' 'sx4' 't10' 't4'
 't6' 't8' 'taigun' 'tata' 'tcic' 'tdci' 'tdi' 'tdv6' 'teana' 'technology'
 'terrano' 'tfsi' 'thar' 'thp' 'ti' 'tiago' 'tigor' 'tiguan' 'titanium'
 'titanium1' 'tone' 'top' 'toyota' 'trend' 'trendline' 'tsi' 'tt' 'tucson'
 'turbo' 'tuv300' 'twin' 'u2' 'urban' 'v40' 'v6' 'v8' 'varicor400' 'vct'
 'vd' 'vdi' 'velar' 'vellfire' 'vento' 'venue' 'verna' 'vitara' 'vl' 'vlx'
 'vogue' 'volkswagen' 'volvo' 'vtec' 'vtvt' 'vx' 'vxd' 'vxi' 'w10' 'w11'
 'w4' 'w5' 'w6' 'w7' 'w8' 'w9' 'wagon' 'wd' 'wheelbase' 'white' 'with'
 'wr' 'wrangler' 'x1' 'x3' 'x4' 'x5' 'x6' 'x7' 'xc40' 'xc60' 'xc90'
 'xcent' 'xdrive' 'xdrive20d' 'xdrive30d' 'xdrive30i' 'xdrive40i' 'xe'
 'xf' 'xj' 'xl' 'xl6' 'xline' 'xm' 'xma' 'xo' 'xt' 'xta' 'xuv300' 'xuv500'
 'xuv700' 'xv' 'xylo' 'xz' 'xza' 'yaris' 'yellow' 'zdi' 'zen' 'zest'
 'zeta' 'zlx' 'zs' 'zx' 'zxi']

In [97]:
# Hitung Similarity antar mobil
car_similarity = cosine_similarity(car_features_tfidf, tfidf_matrix)
print(merged_df.columns)

Index(['User ID;Nama_Lengkap;Jenis_Kelamin;Pekerjaan;Usia;Kota_Asal;Car Make;Car Model;Rating;;;',
       'Car Make', 'Car Model', 'Price', 'Year', 'Kilometer', 'Fuel Type',
       'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine',
       'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height',
       'Seating Capacity', 'Fuel Tank Capacity', 'Car Features'],
      dtype='object')

In [98]:
# Buat fungsi rekomendasi
def recommend_car(user_id, car_similarity=car_similarity, df=merged_df, n=5):
    user_ratings = df[df['User ID'] == user_id]
    
    if user_ratings.empty:
        return "User ID not found in the dataset"
    
    # Gabungkan preferensi mobil pengguna
    user_features = user_ratings['Car Features'].tolist()
    user_features = ' '.join(user_features)
    
    # Hitung similarity dengan preferensi pengguna
    user_tfidf = tfidf.transform([user_features])
    sim_scores = list(car_similarity(user_tfidf, tfidf_matrix).flatten())
    
    # Urutkan mobil berdasarkan similarity scores
    car_indices = sorted(range(len(sim_scores)), key=lambda i: sim_scores[i], reverse=True)[:n]
    
    # Return top n mobil yang direkomendasikan
    return df.iloc[car_indices]

In [99]:
# Menampilkan User ID yang ada dalam dataset
user_ids = merged_df['User ID'].unique()
print("User IDs in the dataset:")
print(user_ids)

KeyError: 'User ID'

In [ ]:
# Contoh penggunaan
user_id = 1  # ID pengguna yang ada dalam dataset
if user_id in merged_df['User ID'].unique():
    recommended_cars = recommend_car(user_id, car_similarity=car_similarity, df=merged_df, n=5)
    print(recommended_cars)
else:
    print("User ID not found in the dataset")

User ID not found in the dataset